@page "{id?}"
@using futr.Pages.Shared;
@model CivilizationModel
@{
    @if (Model.Item != null) {
        ViewData["Title"] = "Civilization " + Model.Item.Title;
        ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - Civilization " + Model.Item.Title;
        ViewData["MetaDescription"] = Model.Item.Readme.Replace("\r", " ").Replace("\n", " ");
        ViewData["MetaImage"] = "/images/cover.jpg";
        ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
    }
}

@if (@Model.Item != null) {
    <h1>@Model.Item.Title</h1>

    <div class="my-textblock">
        <span>Parent universe</span>:
        <span>
            <a asp-page="Universe" asp-route-id="@Model.Item.Universe.SeoName">@Model.Item.Universe.Title</a>
        </span>
    </div>

    @await Html.PartialAsync("_ModelTagsLinksImages", Model.Item)

    <div class="my-card-container">

        @foreach (var (datapointId, datapoint) in Model.Item.Datapoints) {
            var readme = "";
            if (!string.IsNullOrEmpty(datapoint.Readme)) {
                readme = "<div>" + futr.MarkdownHelper.ToHtml(datapoint.Readme) + "</div>";
            }

            @await Html.PartialAsync("_Card", new Shared.Card.Model{
    Title = $"{datapoint.Metric}",
    Text = ""
    + $"<p>\n"
    + $"<span>Value</span>: <span>{datapoint.Value}</span><br/>\n"
    + (string.IsNullOrEmpty(datapoint.Min) ? "" : $"<span>Min</span>: <span>{datapoint.Min}</span><br/>\n")
    + (string.IsNullOrEmpty(datapoint.Max) ? "" : $"<span>Max</span>: <span>{datapoint.Max}</span><br/>\n")
    + $"<span>Confidence</span>: <span>{datapoint.Confidence}</span>\n"
    + $"</p>\n"
    + (datapoint.References.Count() < 1 ? "" : "<p>\n<span>References</span>:\n<ul>\n" + string.Join("", datapoint.References.Select(x => $"<li><a href='{x.Link}''>{x.Text}</a></li>\n").ToArray()) + "</ul>\n</p>\n")
    + readme
    ,
    })
        }
    </div>

    @await Html.PartialAsync("_BaseModelReadme", Model.Item)
}
