@page "{id?}"
@model CivilizationModel
@{
    @if (Model.Item != null) {
        ViewData["Title"] = "Civilization " + Model.Item.Title;
        ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - Civilization " + Model.Item.Title;
        ViewData["MetaDescription"] = Model.Item.Description.Replace("\r", " ").Replace("\n", " ");
        ViewData["MetaImage"] = "/images/cover.jpg";
        ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
    }
}

@if (@Model.Item != null) {
    <h1>@Model.Item.Title</h1>

    <div class="my-textblock">
        <span>Parent universe</span>:
        <span>
            <a asp-page="Universe" asp-route-id="@Model.Item.Universe.SeoName">@Model.Item.Universe.Title <span class='my-up-arrow' /></a>
        </span>
    </div>

    @await Html.PartialAsync("_BaseModelProperties", Model.Item)

    @foreach (var datapoint in Model.Item.Datapoints) {
        @await Html.PartialAsync("_Card", new Shared.Card.Model{
    Title = $"{datapoint.Metric}",
    Text = ""
    + $"<p>"
    + $"<span>Value</span>: <span>{datapoint.Value}</span><br/>"
    + $"<span>Min</span>: <span>{datapoint.Min}</span><br/>"
    + $"<span>Max</span>: <span>{datapoint.Max}</span><br/>"
    + $"<span>Confidence</span>: <span>{datapoint.Confidence}</span>"
    + $"</p>"
    + $"<div style='margin-top: 0.5em; white-space: pre-wrap'>{string.Join("", datapoint.Comment.Replace("\r\n", "\n").Split(new char[]{'\n'}).Select(x => $"<p>{x}</p>").ToArray())}</div>"
    + (datapoint.References.Count() < 1 ? "" : "<p><span>References</span>:<ul>" + string.Join("", datapoint.References.Select(x => $"<li><a href='{x.Link}''>{x.Text}</a></li>").ToArray()) + "</ul></p>")
    ,
    })
    }

    @await Html.PartialAsync("_BaseModelDescription", Model.Item)
}
