@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="my-card-container">

<div class="my-card"><div class="my-card-content">
        sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
</div></div>

<div class="my-card"><div class="my-card-content">
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
</div></div>

<div class="my-card"><div class="my-card-content">
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
</div></div>

<div class="my-card"><div class="my-card-content">
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
</div></div>

<div class="my-card"><div class="my-card-content">
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
</div></div>

<div class="my-card"><div class="my-card-content">
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
</div></div>

<div class="my-card"><div class="my-card-content">
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
</div></div>

<div class="my-card"><div class="my-card-content">
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
</div></div>

<div class="my-card"><div class="my-card-content">
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
    sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg
</div></div>

</div>