@page
@model IndexModel
@{
    ViewData["Title"] = "The FUTR starts here";

    ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - FUTR Project - futr.space";
    ViewData["MetaDescription"] = "Science Fiction and Fantasy universe statistics. A Universe contains Civilizations each with their own description. Each Universe is a folder with its associated Civilizations. A Civilization is a fraction of a Universe. It may be the entire galaxy or just a single species in a certain year. Civilizations list various Metrics. This is the main content. Metrics are the values that describe the Civilization in a Universe.";
    ViewData["MetaImage"] = "/images/cover.jpg";
    ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
}

@section Styles {
    <style>
        div.my-main {
            padding: 1em 0.6em 0.5em 0.6em;
        }
    </style>
}

<div class="my-card-container">

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/sunrise-in-orbit-of-ring-planet.jpg",
    ImgAlt = "Sunrise in orbit",
    Title = "Mission",
    Text = ""
    + "<p>The Fictional Universe Taxonomy Research project collects statistics about civilizations in science fiction universes.</p>"
    + "<p>How many planets do they have? How big is their fleet? Can they do time travel? What is their technological level, their life expectancy, their wealth distribution?</p>"
    + "<p>Our mission is to characterize the fictional universes we love by numbers and make them comparable.</p>"
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/universes.jpg",
    ImgAlt = "Universes",
    Title = "All Universes",
    Text =
    "These are the universes. <br/>Find your favourite franchise, your world, your setting.<br/><br/>"
    + "<a href='/Universe'>Find all universes here</a>",
    Link = "/Universe",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/new-universes.jpg",
    ImgAlt = "New Universes",
    Title = "New Universes",
    Text= string.Join("<br/>", Model.App.Data.Universes
    .Where(x => x.Value.Tags.Contains("new"))
    .OrderByDescending(x => x.Value.Order)
    .ThenByDescending(x => x.Value.Created)
    .Select(pair => $"<a href='/Universe/{Uri.EscapeDataString(pair.Value.SeoName)}'>{pair.Value.Title}</a>")),
    Link = "/Universe",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/new-civilizations.jpg",
    ImgAlt = "Newsroom",
    Title = "New Civilizations",
    Text= string.Join("<br/>", Model.App.Data.Civilizations
    .Where(x => x.Value.Tags.Contains("new"))
    .OrderByDescending(x => x.Value.Order)
    .ThenByDescending(x => x.Value.Created)
    .Select(pair => $"<a href='/Civilization/{Uri.EscapeDataString(pair.Value.SeoName)}'>{pair.Value.Universe.Title}: {pair.Value.Title}</a>")),
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/discord.png",
    ImgAlt = "Discord",
    Title = "Discord",
    Text = "Talk about universes and how to measure stuff. Request new measurements and comparisons. Is there any universe still missing?",
    Link = "https://discordapp.com/channels/1136704642986811423/1153448297915220058",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/contribute.jpg",
    ImgAlt = "Collaboration",
    ImgCaption = "(StockSnap via pixabay)",
    Title = "Contributing",
    Text = ""
    + "<p>Missing a universe or a civilization?</p>"
    + "<p><a href='https://github.com/wolfspelz/futr/tree/main/data/universes'>Check out the list of proposals</a></p>"
    + "<p><a href='https://discordapp.com/channels/1136704642986811423/1153448297915220058'>Propose a universe in discord</a></p>"
    + "<p>Even better:<br/><a href='https://docs.github.com/en/get-started/quickstart/fork-a-repo#propose-changes-to-someone-elses-project'>fork, edit, pull-request on GitHub</a></p>",
    Link = "https://github.com/wolfspelz/futr",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/software.jpg",
    ImgAlt = "Screen",
    Title = "An Open Source Project",
    Text =
    "<ul>" + string.Join("\n", new[] {
    "Source: <a href='https://github.com/wolfspelz/futr/'>GitHub</a>",
    "dotnet, docker, github actions, nginx",
    "The C# IDE is our CMS",
    "GitHub Actions is our deployment",
    "<a href='https://github.com/wolfspelz/futr/tree/main/data'>Content</a> in YAML and Markdown files",
    "<a href='https://github.com/wolfspelz/futr/issues'>Built-in issue tracker</a>",
    }.Select(x => $"<li>{x}</li>")) + "</ul>",
    Link = "https://github.com/wolfspelz/futr/tree/main/data",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/metrics.jpg",
    ImgAlt = "Metrics",
    Title = "Metrics",
    Text = ""
    + "<p>This is how we gauge universes, civilizations and polities.</p>"
    + "<p>Some have many planets or ring worlds, others might be measured by their progress to higher spheres of existence.</p>"
    + "<p>This is not a competition, though.</p>"
    + "<p><a href='/Metric'>The metrics</a></p>",
    Link = "/Metric",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/book-shelf.jpg",
    ImgAlt = "Bookshelf",
    Title = "Universes We Want:",
    Text = "<p>" + string.Join(", ", new [] {
    "Star Wars",
    "Star Trek",
    "Babylon 5",
    "Dune",
    "Perryversum",
    "The Culture (Banks)",
    "Known Space (Niven)",
    "Honorverse",
    "The Verse (Firefly)",
    "Eve Online",
    "Alliance–Union (C. J. Cherryh)",
    "Technic Civilization (Poul Anderson)",
    "Zones of Thought (Vernor Vinge)",
    "TRAVELLER",
    "PANEC",
    "Galactic Developments",
    }.Select(x => $"{x}"))
    + "</p>"
    + "<p>There is so much more.</p>"
    + "<p>Tell us <a href='https://discordapp.com/channels/1136704642986811423/1153448297915220058'>here</a> or <a href='https://docs.github.com/en/get-started/quickstart/fork-a-repo#propose-changes-to-someone-elses-project'>contribute on GitHub</a></p>"
    ,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/book-wall.jpg",
    ImgAlt = "Bookwall",
    ImgCaption = "(Dimhou via pixabay)",
    Title = "Inspiration",
    Text = "<p>Here are lists for your inspiration. Which of these do we really need? All of them?</p>"
    + "<p>"
    + "<a href='https://en.wikipedia.org/wiki/List_of_science_fiction_universes'>List of Science Fiction Universes</a><br/>"
    + "<a href='https://en.wikipedia.org/wiki/Category:Science_fiction_franchises'>Science Fiction Franchises</a>"
    + "</p>"
    ,
    })

</div>
