@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="my-card-container">

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc="https://images.prismic.io/star-trek-untold/YTc3NDMxMGUtNjI2ZC00OGRmLWEwNDgtOTBjOTc4NjY1NDlj_st_quiz_header_which_captain_are_you_01_option1.jpg",
    ImgAlt="Star Trek Captains",
    Title="sakdfjasiefj aosiefj aslkfjies",
    Text="sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg",
    Link="https://www.galactic-developments.de/",
    TitleHasLink = true,
    TextHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    Title="sakdfjasiefj aosiefj aslkfjies",
    Text="sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg",
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc="https://hips.hearstapps.com/pop.h-cdn.co/assets/16/26/4000x2666/gallery-1467144815-starshipenterprise.jpg",
    ImgAlt="Enterprise",
    Title="sakdfjasiefj aosiefj aslkfjies",
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc="https://hips.hearstapps.com/pop.h-cdn.co/assets/16/26/4000x2666/gallery-1467144815-starshipenterprise.jpg",
    ImgAlt="Enterprise",
    Text="sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg sakdfjasiefj aosiefj aslkfjies als afjije smkr slvr sdudkut hbisuhe irvldkfvj  eoirjv eirjoeirj oseij rscverg",
    })

</div>