@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<script src="~/lib/masonry-4.2.2.min.js" async></script>
<script src="~/js/masonryAutoRelayout.js" async></script>

<div class="row" data-masonry="{ 'percentPosition': true, 'isLayoutInstant': true }">
    @{
        var card = new Shared.Card.Model {
                Title = "aaaaaaaaaa aaaaaaaaaa aaaaaaaaaa ",
                Text = "bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb bbbbbb ",
            };
    }
    @await Html.PartialAsync("_Card", card)

</div>

