@page
@model IndexModel
@{
    ViewData["Title"] = "The FUTR starts here";

    ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - FUTR Project - futr.space";
    ViewData["MetaDescription"] = "Science Fiction and Fantasy universe statistics. A Universe contains Civilizations each with their own description. Each Universe a folder with its associated Civilizations. A Civilizations is a fraction of a Universe. It may be the entire galaxy or just a single species in a certain year. Civilizations list various Metrics. This is the main content. Metrics are the values that describe the Civilization in a Universe.";
    ViewData["MetaImage"] = "/images/cover.jpg";
    ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
}

@section Styles {
    <style>
        div.my-main {
            padding: 1em 0.6em 0.5em 0.6em;
        }
    </style>
}

<div class="my-card-container">

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/universes.jpg",
    ImgAlt = "Universes",
    Title = "All Universes",
    Text =
    "These are the universes. <br/>Find your favourite franchises, your world, your setting.<br/><br/>"
    + "<a href='/Universe'>Find all universes here <span class='my-next-arrow'/></a>",
    Link = "/Universe",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/discord.png",
    ImgAlt = "Discord",
    Title = "Discord",
    Text = "Talk about universes and how to measure stuff. Request new measurements and comparisons. Is there any universe still missing?",
    Link = "https://discordapp.com/channels/1136704642986811423/1153448297915220058",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/new-universes.jpg",
    ImgAlt = "Newsroom",
    Title = "New Universes",
    Text= string.Join("<br/>", Model.App.Data.Universes
    .Where(x => x.Value.Tags.Contains("new"))
    .Select(pair => $"<a href='/Universe/{pair.Value.SeoName}'>{pair.Value.Title}</a>"))
    + "<br/><br/>...more to come. ",
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/new-civilizations.jpg",
    ImgAlt = "Newsroom",
    Title = "New Civilizations",
    Text= string.Join("<br/>", Model.App.Data.Civilizations
    .Where(x => x.Value.Tags.Contains("new"))
    .Select(pair => $"<a href='/Civilization/{pair.Value.SeoName}'>{pair.Value.Title}</a>"))
    + "<br/><br/>...more to come. ",
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/contribute.jpg",
    ImgAlt = "Collaboration",
    Title = "Contributing",
    Text = ""
    + "<p>Missing a universe or a civilization?</p>"
    + "<p><a href='https://github.com/wolfspelz/futr/tree/main/data/universes'>Check out the list of proposals <span class='my-next-arrow'/></a></p>"
    + "<p><a href='https://discordapp.com/channels/1136704642986811423/1153448297915220058'>Propose a universe in discord <span class='my-next-arrow'/></a></p>"
    + "<p>Even better:<br/><a href='https://docs.github.com/en/get-started/quickstart/fork-a-repo#propose-changes-to-someone-elses-project'>fork, edit, pull-request on GitHub <span class='my-next-arrow'/></a></p>",
    Link = "https://github.com/wolfspelz/futr",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/software.jpg",
    ImgAlt = "Screen",
    Title = "Open Source Project",
    Text =
    "<ul>" + string.Join("\n", new[] {
    "Source: <a href='https://github.com/wolfspelz/futr/'>GitHub</a>",
    "dotnet, docker, github actions, nginx",
    "The C# IDE is our CMS",
    "GitHub Actions is our deployment",
    "<a href='https://github.com/wolfspelz/futr/data'>Content</a> in YAML and Markdown files",
    "<a href='https://github.com/wolfspelz/futr/issues'>Built-in issue tracker</a>",
    }.Select(x => $"<li>{x}</li>")) + "</ul>",
    Link = "https://github.com/wolfspelz/futr/tree/main/data",
    TitleHasLink = true,
    })

    @await Html.PartialAsync("_Card", new Shared.Card.Model{
    ImgSrc = "/images/Index/metrics.jpg",
    ImgAlt = "Metrics",
    Title = "Metrics",
    Text = ""
    + "<p>This is how we gauge universes, civiliztions and factions.</p>"
    + "<p>Some have many planets or ring worlds, others might be measured by their progress to higher spheres of existance.</p>"
    + "<p>This is not a competition, though.</p>"
    + "<p><a href='/Metric'>The metrics <span class='my-next-arrow'/></a></p>",
    Link = "/Metric",
    TitleHasLink = true,
    })

</div>