@page "{id?}"
@model PolityModel
@{
    @if (Model.Item != null) {
        ViewData["Title"] = "Polity " + Model.Item.Title;
        ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - Polity " + Model.Item.Title;
        ViewData["MetaDescription"] = Model.Item.Readme.Replace("\r", " ").Replace("\n", " ");
        ViewData["MetaImage"] = "/images/cover.jpg";
        ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
    }
}

@if (@Model.Item != null) {
    <h1>@Model.Item.Title</h1>

    <div class="my-textblock">
        <span>Universe</span>:
        <span>
            <a asp-page="Universe" asp-route-id="@Model.Item.Universe.SeoName">@Model.Item.Universe.Title</a>
        </span>
    </div>

    @await Html.PartialAsync("_ModelTagsLinksImages", Model.Item)

    @await Html.PartialAsync("_CivilizationList", (Model.Item.Universe.Civilizations.Values.Where(c => c.Polity == Model.Item), Model.Item.Universe.ShowcaseMetrics))

    @await Html.PartialAsync("_BaseModelReadme", Model.Item)
}
