@if (Model is futr.Models.BaseModel model) {
    if (!string.IsNullOrEmpty(model.Readme)) {
        <div class="my-textblock">
            @Html.Raw(futr.MarkdownHelper.ToHtml(model.Readme))
        </div>
    }
}
