@if (Model is Models.BaseModel model) {

    <div class="my-textblock" id="iDescription">
        <span id="iDescriptionSource">@(model.Description)</span>
    </div>

    @await Html.PartialAsync("_MarkdownConverterPartial", new Shared._MarkdownConverterPartial.Model() { Source = "iDescriptionSource", Target = "iDescription"})

}
