@page
@model futr.Pages.AuthModel
@{
}

@if (Model.IsLoggedIn) {
    <form method="post" asp-page-handler="Logout">
        <button>@Model.I18n.String(path: "Auth/Logout", i18n: new StringGeneratorI18n { ["de-DE"] = () => "Jetzt abmelden", ["en-US"] = () => "Logout now" })</button>
    </form>
} else {
    <form method="post" asp-page-handler="Login">
        <label for="iToken">
            @Model.I18n.String(path: "Auth/Token", i18n: new StringGeneratorI18n { ["de-DE"] = () => "Zugangscode", ["en-US"] = () => "Token" }):
        </label>
        <input type="password" id="iToken" name="token" value="" />
        <button>@Model.I18n.String(path: "Auth/Login", i18n: new StringGeneratorI18n { ["de-DE"] = () => "Anmelden", ["en-US"] = () => "Login" })</button>
    </form>
}
