@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome</h1>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<p>
    @Model.Universe?.Name
</p>
<p>
    @Model.Universe?.Description
</p>
<p>
    3
</p>
<p>
    4
</p>
<p>
    5
</p>
<p>
    6
</p>
<p>
    7
</p>
<p>
    8
</p>
<p>
    9
</p>
<p>
    10
</p>
<p>
    11
</p>
<p>
    12
</p>
<p>
    13
</p>
<p>
    14
</p>
<p>
    15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15
</p>
