:root {
    --main-text-color: #000000;
    --main-text-shadow-color: #ffffff;
    --main-text-box-color: rgba(255,255,255,0.5);
    --main-link-hilite-color: #000000;
    --main-link-box-color: rgba(255,255,255,0.4);
    --main-link-underline-color: rgba(0,100,180,0.4);
    --main-link-hilite-box-color: rgba(255,255,255,0.5);
    --main-bg-color: #ffffff;
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: var(--main-text-color);
    text-shadow: 0 0 0.3rem var(--main-text-shadow-color);
    background: url(/images/bg-01.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    overflow-y: scroll;
}

h1 {
    color: var(--main-text-color);
    font-size: 1.5rem;
    margin-block-start: unset;
    margin-block-end: unset;
    margin: 0.3em 0;
}

h2 {
    color: var(--main-text-color);
    font-size: 1.2rem;
    margin-block-start: unset;
    margin-block-end: unset;
    margin: 0.3em 0;
}

h3 {
    color: var(--main-text-color);
    font-size: 1.1rem;
    margin-block-start: unset;
    margin-block-end: unset;
    margin: 0.3em 0;
}

h4 {
    color: var(--main-text-color);
    font-size: 0.8rem;
    margin-block-start: unset;
    margin-block-end: unset;
}

ul, ol, dl {
    margin-block-start: 0;
    margin-block-end: 0em;
    padding-inline-start: 2em;
}

ul {
    list-style-type: square;
}

input[type="password"], input[type="text"], input[type="button"], input[type="submit"], button {
    padding: 0 0.3em;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    backdrop-filter: blur(0.5em);
    background: none;
    box-shadow: 2px 2px 6px #888;
}

input[type="password"], input[type="text"] {
    border: none;
}

p {
    color: var(--main-text-color);
}

a {
    color: var(--main-text-color);
    text-decoration: none;
    background-color: var(--main-link-box-color);
}

.my-main a,
.my-footer a {
    text-decoration: underline;
    text-decoration-color: var(--main-link-underline-color);
    text-underline-offset: 2px;
    background-color: unset;
}

    a:hover, a:active {
        filter: brightness(0.8);
        left: 2px;
        top: 2px;
    }

    button, a.button {
        padding: 0.4em 0.7em;
        margin: 0 0.5em;
        color: var(--main-text-color);
        background-color: var(--main-text-box-color);
        border: none;
    }

        button:hover, a.button:hover {
            color: var(--main-link-hilite-color);
            background-color: var(--main-link-hilite-box-color);
        }

        button:active, a.button:active, a img:active {
            position: relative;
            left: 1px;
            top: 2px;
        }

div.my-header {
    padding: 1.8rem 1rem 0 1rem;
    max-width: 1440px;
    margin: auto;
}

div.my-main {
    padding: 1rem 1rem 0.5rem 1rem;
    max-width: 1440px;
    margin: auto;
}

div.my-footer {
    /*position: absolute;*/
    bottom: 0;
    /*width: 100%;*/
    padding: .3rem .3rem;
    min-height: 60px;
    /*background-color: var(--main-text-box-color);*/
    /*box-shadow: 0 0 0.5em #333333;*/
    color: var(--main-text-color);
    text-align: center;
    max-width: 1440px;
    margin: auto;
}

div.my-textblock {
    padding: 0.3em 0.8em 0.3em 0.5em;
    margin-bottom: 1em;
    background-color: rgba(255,255,255,0.4);
    border-radius: 0.5em;
    filter: drop-shadow(0px 0px 8px #ffffff);
}

a.my-brand-text {
    display: inline-block;
    max-width: 70%;
    background-color: unset;
    font-size: 2rem;
    font-weight: 700;
    filter: invert(1) drop-shadow(1px 1px 1px rgba(0,0,0,0.7));
}

div.my-image {
    position: relative;
}

    div.my-image img {
        max-width: 100%;
        display: flow;
    }

    div.my-image .my-caption {
        position: absolute;
        right: 0.3rem;
        bottom: 0.3rem;
        text-align: right;
        font-size: small;
        color: #ffffff;
        filter: drop-shadow(1px 1px 3px #000000);
    }

div.my-gallery {
    margin: 0 -6px 10px -6px;
}

div.my-gallery-image {
    display: inline-block;
    margin: 0.2em 0.2em;
    padding: 0.5em;
    background-color: rgba(255,255,255,0.4);
    filter: drop-shadow(0px 0px 8px #ffffff);
    border-radius: 0.5em;
}

    div.my-gallery-image img {
        height: 10em;
    }

.my-tag {
    padding: 0 0.5em;
    border-radius: 0.5em;
    background-color: rgba(255,255,255,0.3);
}

.my-table {
    display: table;
    text-align: right;
    border-spacing: 4px;
}

    .my-table .my-table-row {
        display: table-row;
    }

    .my-table .my-table-column-even {
        background-color: rgba(255,255,255,0.3);
    }

    .my-table .my-table-column-odd {
        background-color: rgba(255,255,255,0.3);
    }

    .my-table .my-table-row .my-table-cell {
        display: table-cell;
        padding: 0.2em 0.3em;
    }

    .my-table .my-table-head .my-table-cell {
        font-weight: 700;
    }

.my-table-cell h2 {
    text-align: left;
}

.my-sm, .my-md, .my-lg {
    display: none;
}

div.my-tile {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 135px;
    overflow: hidden;
}

    div.my-tile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    div.my-tile .my-title {
        position: absolute;
        left: 0.5em;
        top: 0.5em;
        filter: invert(1) drop-shadow(1px 1px 4px #000000);
        color: #000000;
        font-weight: 600;
        font-size: 20px;
        background-color: rgba(255,255,255,0.2);
    }

@media (max-width: 700px) {
    body {
        overflow: auto;
    }

    .my-sm {
        display: inline-block;
    }

    div.my-tile {
        width: 180px;
        height: 100px;
    }
}

@media (min-width: 700px) {
    html {
        font-size: 16px;
    }

    input[type="password"], input[type="text"], input[type="button"], input[type="submit"], button {
        font-size: 16px;
    }

    .my-md {
        display: inline-block;
    }
}

@media (min-width: 1000px) {
    html {
        font-size: 18px;
    }

    input[type="password"], input[type="text"], input[type="button"], input[type="submit"], button {
        font-size: 18px;
    }

    .my-lg {
        display: inline-block;
    }
}

@media (min-width: 1400px) {
}

div.my-card-container {
    font-size: 0;
    margin: 0 -6px 10px -6px;
}

div.my-card {
    display: inline-block;
    vertical-align: top;
    width: 33.333%;
    padding: 0.4em;
    font-size: 16px;
    /*background-color: rgba(0,0,0,0.5);*/
}

div.my-card-content {
    padding: 0.5em;
    background-color: rgba(255,255,255,0.4);
    border-radius: 0.5em;
    filter: drop-shadow(0px 0px 8px #ffffff);
}

div.my-card-image {
    margin: 0 0 0.3em 0;
    position: relative;
}

div.my-card-body p,
div.my-card-body dl,
div.my-card-body ul,
div.my-card-body ol {
    margin-block-start: 0;
    margin-block-end: 0.7em;
}

div.my-card-head h3 {
    margin: 0em 0 0.3em 0;
}

div.my-card-body a {
    overflow-wrap: anywhere;
}

@media (max-width: 800px) {
    div .my-card {
        width: 50%;
    }
}

@media (max-width: 700px) {
    div.my-card {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    div.my-card {
        width: 100%;
    }
}
