:root {
    --main-text-color: #000000;
    --main-text-shadow-color: #ffffff;
    --main-text-box-color: rgba(255,255,255,0.3);
    --main-link-hilite-color: #000000;
    --main-link-box-color: rgba(255,255,255,0.4);
    --main-link-hilite-box-color: rgba(255,255,255,0.5);
    --main-bg-color: #ffffff;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: var(--main-text-color);
    text-shadow: 0 0 0.3rem var(--main-text-shadow-color);
    background: url(/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    overflow-y: scroll;
}

h1 {
    color: var(--main-text-color);
    font-size: 1.5rem;
}

input[type="password"], input[type="text"], input[type="button"], input[type="submit"], button {
    padding: 0 0.3em;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    backdrop-filter: blur(0.5em);
    background: none;
    box-shadow: 2px 2px 6px #888;
}

input[type="password"], input[type="text"] {
    border: none;
}

p {
    color: var(--main-text-color);
}

a {
    color: var(--main-text-color);
    text-decoration: none;
    background-color: var(--main-link-box-color);
}

    a:hover, a:active {
        filter: brightness(0.9);
        left: 2px;
        top: 2px;
    }

    button, a.button {
        padding: 0.4em 0.7em;
        margin: 0 0.5em;
        color: var(--main-text-color);
        background-color: var(--main-text-box-color);
        border: none;
    }

        button:hover, a.button:hover {
            color: var(--main-link-hilite-color);
            background-color: var(--main-link-hilite-box-color);
        }

        button:active, a.button:active {
            position: relative;
            left: 2px;
            top: 2px;
        }

div.my-header {
    padding: 1.8rem 1rem 0 1rem;
}

div.my-main {
    padding: 1rem 1rem 0 1rem;
}

div.my-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    /*background-color: var(--main-text-box-color);*/
    box-shadow: 0 0 0.5em #333333;
    color: var(--main-text-color);
    text-align: center;
}

a.my-brand-text {
    background-color: unset;
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 70%;
    filter: unset;
}

ul.my-site-menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
    list-style-type: none;
}

ul.my-site-menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
    list-style-type: none;
}

    ul.my-site-menu li {
        display: inline-block;
        font-size: 1.4rem;
    }

        ul.my-site-menu li a {
            padding: 0.4em 0.7em;
            margin: 0 0.5em;
            color: var(--main-text-color);
            background-color: var(--main-text-box-color);
        }

            ul.my-site-menu li a:hover, ul.my-site-menu li a:active {
                color: var(--main-link-hilite-color);
                filter: unset;
                background-color: var(--main-link-hilite-box-color);
            }

.my-sm, .my-md, .my-lg {
    display: none;
}

@media (max-width: 700px) {
    body {
        overflow: auto;
    }

    .my-sm {
        display: inline-block;
    }

    ul.my-site-menu {
    }

        ul.my-site-menu li {
            display: block;
            font-size: 1.4rem;
        }

            ul.my-site-menu li a {
                display: block;
            }
}

@media (min-width: 700px) {
    html {
        font-size: 16px;
    }

    input[type="password"], input[type="text"], input[type="button"], input[type="submit"], button {
        font-size: 16px;
    }

    .my-md {
        display: inline-block;
    }
}

@media (min-width: 1000px) {
    html {
        font-size: 18px;
    }

    input[type="password"], input[type="text"], input[type="button"], input[type="submit"], button {
        font-size: 18px;
    }

    .my-lg {
        display: inline-block;
    }
}

@media (min-width: 1400px) {
}
